<% import grails.persistence.Event %>
<div data-ng-controller="${className}Ctrl">
    <h1 class="h1Title">${className} Edit</h1>
    <div data-ng-show="errors.showErrors" class="center red">
        <p data-ng-show="errors.showServerError">"Can not connect to the server, try later"</p>
    </div>
    <div>
    <div>
    <div>
    <div>
        <ul id="Menu" class="nav nav-pills margin-top-small">
            <li>
                <a onclick="window.location.href = '#/${domainTitle}/list'">List</a>
            </li>
            <!-- the item is an object (not a list) -->
            <li data-ng-hide="${domainTitle}.id" class="">
                <a  data-ng-click="manualSave()">Save</a>
            </li>
            <li data-ng-show="${domainTitle}.id" class="">
                <a  data-ng-click="manualSave()">Update</a>
            </li>
            <li data-ng-show="${domainTitle}.id" class="">
                <a data-ng-click="confirmDelete${className}()" >Delete</a>
            </li>
        </ul>
        <br/>
    </div>
    <div>
    <div>
    <div>
    <%
    private renderEditor(property){
    if (property.type == Boolean || property.type == boolean)
    renderBooleanEditor(domainClass, property)
    else if (property.type && Number.isAssignableFrom(property.type) || (property.type?.isPrimitive() && property.type != boolean))
    renderNumberEditor(domainClass, property)
    else if (property.type == String)
    renderStringEditor(domainClass, property)
    else if (property.type == Date || property.type == java.sql.Date || property.type == java.sql.Time || property.type == Calendar)
    renderDateEditor(domainClass, property)
    else if (property.type == URL)
    renderStringEditor(domainClass, property)
    else if (property.type && property.isEnum())
    renderEnumEditor(domainClass, property)
    else if (property.type == TimeZone)
    renderSelecttimeZoneEditor(domainClass, property)
    else if (property.type == Locale)
    renderStringEditor(domainClass, property)
    else if (property.type == Currency)
    renderStringEditor(domainClass, property)
    else if (property.type==([] as Byte[]).class)
    renderByteArrayEditor(domainClass, property)
    else if (property.type==([] as byte[]).class)
    renderByteArrayEditor(domainClass, property)
    else if (property.manyToOne || property.oneToOne)
    renderManyToOne(domainClass, property)
    else if ((property.oneToMany && !property.bidirectional) || (property.manyToMany && property.isOwningSide())) {
    def str = renderManyToMany(domainClass, property)
    if (str != null) {
    str
    }
    }
    }

    private renderStringEditor(domainClass, property) {
    if (!cp) {
    return "<input name=\"${property.name}\" type='text' data-ng-model='${domainTitle}.${property.name}' />"
    } else {
    def sb = new StringBuilder("")
    if ("textarea" == cp.widget || (cp.maxSize > 250 && !cp.password && !cp.inList)) {
    sb << '<textArea name="' << property.name << '"'
    sb << ' cols="40" rows="5"'
    if (cp.maxSize) sb << ' maxlength="' << cp.maxSize << '"'
    if (isRequired()) sb << ' required=""'
    sb << " data-ng-model='${domainTitle}.${property.name}'"
    sb << '/>'
    } else {
    if (cp.password) {
    sb << '<input type="password"'
    } else if (cp.url) {
    sb << '<input type="url"'
    } else if (cp.email) {
    sb << '<input type="email"'
    } else {
    sb << '<input type="text"'
    }
    sb << ' name="' << property.name << '"'
    if (cp.maxSize) sb << ' maxlength="' << cp.maxSize << '"'
    if (!cp.editable) sb << ' readonly="readonly"'
    if (cp.matches) sb << ' pattern="${' << "${domainInstance}.constraints.${property.name}.matches" << '}"'
    if (isRequired()) sb << ' required=""'
    sb << " data-ng-model='${domainTitle}.${property.name}' "
    sb << '/>'
    }
    sb as String
    }
    }

    private renderByteArrayEditor(domainClass, property) {
    return "<input type=\"file\" id=\"${property.name}\" data-ng-model='${domainTitle}.${property.name}'  name=\"${property.name}\" />"
    }

    private renderBooleanEditor(domainClass, property) {
    if (!cp) {
    return "<input type=\"checkbox\"  name=\"${property.name}\" data-ng-model='${domainTitle}.${property.name}'  />"
    } else {
    def sb = new StringBuilder("<input type=\"checkbox\"  name=\"${property.name}\" ")
    if (cp.widget) sb << "widget=\"${cp.widget}\" ";
    cp.attributes.each { k, v ->
    sb << "${k}=\"${v}\" "
    }
    sb << "data-ng-model='${domainTitle}.${property.name}' />"
    return sb.toString()
    }
    }

    private renderNumberEditor(domainClass, property) {
    if (!cp) {
    if (property.type == Byte) {
    return "<select name=\"${property.name}\" from=\"\${-128..127}\" class=\"range\" data-ng-model='${domainTitle}.${property.name}' />"
    } else {
    return "<input type=\"number\" name=\"${property.name}\" data-ng-model='${domainTitle}.${property.name}' />"
    }
    } else {
    def sb = new StringBuilder()
    if (cp.range) {
    sb << '<select name="' << property.name << '"'
    sb << ' ng-options="${' << "${cp.range.from}..${cp.range.to}" << '}"'
    sb << ' class="range"'
    if (isRequired()) sb << ' required=""'
    sb << " data-ng-model='${domainTitle}.${property.name}' "
    sb << renderNoSelection(property)
    sb << '/>'
    } else if (cp.inList) {
    sb << '<select name="' << property.name << '"'
    sb << ' ng-options="${' << "${domainInstance}.constraints.${property.name}.inList" << '}"'
    if (isRequired()) sb << ' required=""'
    sb << " data-ng-model='${domainTitle}.${property.name}' "
    sb << renderNoSelection(property)
    sb << '/>'
    } else {
    sb << '<input'
    sb << ' name="' << property.name << '"'
    if (property.type in [float, double, Float, Double, BigDecimal]) {
    sb << " data-ng-model='${domainTitle}.${property.name}' "
    } else {
    sb << ' type="number"'
    if (cp.min != null) sb << ' min="' << cp.min << '"'
    if (cp.max != null) sb << ' max="' << cp.max << '"'
    sb << " data-ng-model='${domainTitle}.${property.name}' "
    }
    if (isRequired()) sb << ' required=""'
    sb << '/>'
    }
    sb as String
    }
    }

    private renderManyToOne(domainClass,property) {
    if (property.association) {
    def sb = new StringBuilder()
    sb << '<select'
    // id is "x" and name is "x.id" as the label will have for="x" and "." in an id will confuse CSS
    sb << ' id="' << property.name << '"'
    sb << ' name="' << property.name << '.id"'
    sb << " data-ng-model='${domainTitle}.${property.name}'"
    sb << ' ng-options="c as ${' << property.type.name << '.list()}"'
    if (isRequired()) sb << ' required=""'
    sb << ' class="many-to-one"'
    sb << renderNoSelection(property)
    sb << '/>'
    sb as String
    }
    }

    private renderEnumEditor(domainClass, property) {
    def sb = new StringBuilder("")
    sb << '<select name="' << property.name << '"'
    sb << ' from="${' << "${property.type.name}?.values()" << '}"'
    sb << ' keys="${' << property.type.name << '.values()*.name()}"'
    if (isRequired()) sb << ' required=""'
    sb << ' value="${' << "${domainInstance}?.${property.name}?.name()" << '}" '
    if (cp) {
    cp.attributes.each { k, v ->
    sb << "${k}=\"${v}\" "
    }
    }
    sb << renderNoSelection(property)
    sb << '/>'
    sb as String
    }

    private renderManyToMany(domainClass, property) {
    def cls = property.referencedDomainClass?.clazz
    if (cls == null) {
    if (property.type instanceof Collection) {
    cls = org.springframework.core.GenericCollectionTypeResolver.getCollectionType(property.type)
    }
    }

    if (cls != null) {
    def sb = new StringBuilder()
    sb << '<select name="' << property.name << '"'
    sb << '  ng-options=" c as ${' << cls.name << '.list()}"'
    sb << ' multiple="multiple"'
    sb << ' size="5"'
    if (isRequired()) sb << ' required=""'
    sb << " data-ng-model='${domainTitle}.${property.name}' "
    sb << ' class="many-to-many"'
    sb << '/>'
    sb as String

    }

    }

    private renderDateEditor(domainClass, property) {
    def precision = (property.type == Date || property.type == java.sql.Date || property.type == Calendar) ? "day" : "minute";
    if (!cp) {
    return "<input type=\"date\" name=\"${property.name}\" precision=\"${precision}\" data-ng-model='${domainTitle}.${property.name}' />"
    } else {
    if (!cp.editable) {
    return "\${${domainInstance}?.${property.name}?.toString()}"
    } else {
    def sb = new StringBuilder("<input type=\"date\" name=\"${property.name}\" ")
    if (cp.format) sb << "format=\"${cp.format}\" "
    if (cp.widget) sb << "widget=\"${cp.widget}\" "
    cp.attributes.each { k, v ->
    sb << "${k}=\"${v}\" "
    }
    if (!cp.attributes.precision) {
    sb << "precision=\"${precision}\" "
    }
    sb << "data-ng-model='${domainTitle}.${property.name}' />"

    return sb.toString()
    }
    }
    }

    private renderSelecttimeZoneEditor(domainClass,property){
    if (!cp) {
    return "<input type=\"time\" name=\"${property.name}\" data-ng-model='${domainTitle}.${property.name}' />"
    } else {
    def sb = new StringBuilder("<input type=\"time\" name=\"${property.name}\" ")
    if (cp.widget) sb << "widget=\"${cp.widget}\" ";
    cp.attributes.each { k, v ->
    sb << "${k}=\"${v}\" "
    }
    sb << "data-ng-model='${domainTitle}.${property.name}' />"
    return sb.toString()
    }
    }

    private renderNoSelection(property) {
    if (isOptional()) {
    if (property.manyToOne || property.oneToOne) {
    return " noSelection=\"['null': '']\""
    } else if (property.type == Date || property.type == java.sql.Date || property.type == java.sql.Time || property.type == Calendar) {
    return "default=\"none\" noSelection=\"['': '']\""
    } else {
    return " noSelection=\"['': '']\""
    }
    }
    return ""
    }

    private boolean isRequired() {
    !isOptional()
    }

    private boolean isOptional() {
    if (!cp) {
    return false
    }
    else {
    cp.nullable || (cp.propertyType == String && cp.blank) || cp.propertyType in [boolean, Boolean]
    }
    }
    %>
    <%  excludedProps = Event.allEvents.toList() << 'id' << 'version'
    allowedNames = domainClass.name << 'dateCreated' << 'lastUpdated'
    props = domainClass.findAll { allowedNames.contains(it.name) && !excludedProps.contains(it.name) && it.type != null && !Collection.isAssignableFrom(it.type) }
    %>
    <div>
        <%for (p in props) {
        if (p.embedded) {
        def embeddedPropNames = p.component.persistentProperties*.name
        def embeddedProps = p.component.properties.findAll { embeddedPropNames.contains(it.name) && !excludedProps.contains(it.name) }
        Collections.sort(embeddedProps, comparator.constructors[0].newInstance([p.component] as Object[]))
        %><fieldset class="embedded"><legend>${p.name}</legend><%
        for (ep in p.component.properties) {
        renderFieldForProperty(ep, p.component, "${p.name}.")
        }
        %></fieldset><%
        } else {
        renderFieldForProperty(p, domainClass)
        }
        }

        private renderFieldForProperty(p, owningClass, prefix = "")
        {
        boolean hasHibernate = pluginManager?.hasGrailsPlugin('hibernate') || pluginManager?.hasGrailsPlugin('hibernate4')
        boolean display = true
        boolean required = false
        if (hasHibernate) {
        cp = owningClass.constrainedProperties[p.name]
        display = (cp ? cp.display : true)
        required = (cp ? !(cp.propertyType in [boolean, Boolean]) && !cp.nullable && (cp.propertyType != String || !cp.blank) : false)
        }
        if (display) {
        %>
        <div class="fieldcontain">
            <label for="${p.name}">
                ${p.name}
            </label>
            ${renderEditor(p)}
        </div>
        <%  }
        } %>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
</div>