<% import grails.persistence.Event %>
<div data-ng-controller="${className}Ctrl" data-ng-init="getAll${className}()">
    <h1>${className} List</h1>
 	<div data-ng-show="errors.showErrors" class="red">
		<div ng-repeat="error in errors.errorMessages">
			<strong></strong> <span ng-bind="error"></span>
		</div>
	</div>
	   
	
        <div>
            <p></p>
                <a class="btn btn-primary btn-primary" data-ng-click="new${className}()"><span class="glyphicon glyphicon-plus"></span><g:message code="default.new.label" args="['${domainTitle}']" default="New ${domainTitle}"/></a>
                <input type="search" placeholder="\${message(code:'default.filter.label', default:'Filter results')}" ng-model="search"/>
            <p></p>
        </div>
        <div>
            <div>
                <div>
                    <%  excludedProps = Event.allEvents.toList() << 'id' << 'version'
                    allowedNames = domainClass.name << 'dateCreated' << 'lastUpdated'
                    props = domainClass.findAll { allowedNames.contains(it.name) && !excludedProps.contains(it.name) && it.type != null && !Collection.isAssignableFrom(it.type) }
                    %>
					
					
                    <table class="table table-condensed table-striped table-responsive table-hover">
                        <thead>
                        <tr>
                            <%for (p in props) {
                            if (p.isAssociation()) { %>
                            <th>${p.naturalName}</th>
                            <%  } else { %>
                            <th data-sortable="${p.name}">${p.naturalName}</th>
                            <%  } } %>
                            <th><g:message code="default.actions.label"  default="Actions"/></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="instance in (${domainInstance}s|orderBy:'id':true|filter:search)">
                            <%  for (p in props) { %>
                            <td>{{instance.${p.name}}}</td>
                            <%  } %>
                            <td>
                            <a class="btn btn-mini btn-success" data-ng-show="${domainTitle}.id"  title="\${message(code: 'default.update.label',args:['${className}'], default: 'Update')}" data-ng-click="edit${className}(instance)"><span class="glyphicon glyphicon-floppy-disk"></span><g:message code="default.update.label" args="['${className}']" default="Update"/></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>