<% import grails.persistence.Event %>
<div data-ng-controller="${className}Ctrl" data-ng-init="getAll${className}()">
    <h1>${className} List</h1>
 	<div data-ng-show="errors.showErrors" class="red">
	<div ng-repeat="error in errors.errorMessages">
		<strong></strong> <span ng-bind="error"></span>
	</div>
	</div>
        <div>
            <p></p>
            <a class="btn btn-primary btn-primary" data-ng-click="new${className}()"><span class="glyphicon glyphicon-plus"></span> New ${domainTitle}</a>
            <p></p>
        </div>
        <div>
            <div>
                <div>
                    <%  excludedProps = Event.allEvents.toList() << 'id' << 'version'
                    allowedNames = domainClass.name << 'dateCreated' << 'lastUpdated'
                    props = domainClass.findAll { allowedNames.contains(it.name) && !excludedProps.contains(it.name) && it.type != null && !Collection.isAssignableFrom(it.type) }
                    %>

                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <%for (p in props) {
                            if (p.isAssociation()) { %>
                            <th>${p.naturalName}</th>
                            <%  } else { %>
                            <th data-sortable="${p.name}">${p.naturalName}</th>
                            <%  } } %>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="instance in ${domainInstance}s" data-ng-click="edit${className}(instance)">
                            <%  for (p in props) { %>
                            <td>{{instance.${p.name}}}</td>
                            <%  } %>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>